//-手动插入，不再自动插入 link(rel='stylesheet' href=url_for(theme.asset.aplayer_css) media="print" onload="this.media='all'")
script(defer src=url_for(theme.asset.aplayer_js))
script(defer src=url_for(theme.asset.meting_js))