#md-table
  overflow-x: scroll !important;
  & > .table-wrap
    min-width: 1000px;

#content-inner #recent-posts > .recent-post-item > .recent-post-info
  height: 200px;  
  & > .article-meta-wrap
    bottom: 10px;
  & > .content
    transition: all 0.3s ease 0s;
    padding: 0 20px;
    -webkit-line-clamp: 4;
    opacity: 1
    height: auto
	
/*字体*/
@font-face
  font-family: 'gui';
  /* 字体名自定义即可 */
  /* src: url('https://cdn.jsdelivr.net/gh/tzy13755126023/BLOG_SOURCE/font/ZhuZiAWan.woff2'); */
  src: url('https://npm.elemecdn.com/ethan4116-blog/lib/font/ZhuZiAWan.ttf');
  /* 字体文件路径 */
  font-display: swap;

body
  font-family: gui !important;
  
  